/* CSS Document */

a {color: rgb(0, 161, 199); text-decoration: none;}
/*a:visited {color: rgb(0, 163, 61); text-decoration: none;}*/
a:hover {text-decoration: underline;}
a:active {/*color: rgb(255, 102, 0);*/ text-decoration: underline;}
aside {margin-left: 900px; min-width: 150pt;} /* unused */
body {font-family: 'Open Sans', Helvetica Neue, sans-serif; margin: 0}

header { width: 100%;  min-height: 100px;  background-color: #009EE0;  position: fixed;  z-index: 1000;  margin: 0px;  padding: 0px;}
h1 {padding-top: 10px; white-space: nowrap; text-shadow: 1px 2px 3px #808080; font-size: 35px;  }
h1 a {text-decoration: none; color: #231F20; transition: color 1.5s;}
h1 a:hover {color: #ffffff; text-decoration: none;}
h1 a:hover em {color: #231F20;}
h1 em {color: #ffffff; font-style: normal; transition: color 1.5s;}
h2 {text-align: center;}
.form-group legend{color: white; }

footer {margin: 20pt; position: relative; font-size: small;}
footer p {color: rgb(69, 69, 69);}
h3 {margin: 0.5em 1em;}
main {position: absolute; width: 100%; margin: 0; padding: 0;}
p {margin: 5pt 0 5pt 0;}
th a {float: right;}

.box {display: inline-block; vertical-align: bottom; margin: 10px; width: 100%; padding-top: 30px; padding-bottom: 20px; max-width: 300px; background: rgb(0, 142, 214); transition: background 0.5s;   border-radius: 15px; padding-left: 30px; padding-right: 30px; vertical-align: top;}
.box:before {content: ''; padding-bottom: 140%; float:left;}
.box:after {content: ''; display: table; clear: both;}
.box:hover {background: rgb(69, 69, 69); cursor: pointer;}
.box:hover img {width: 80%;}
.box:hover .desc {opacity: 1;}
.box form, .box > div {margin: auto; display: none; height: 100%;}
.box img {margin: 30px 0 20px 0; width: 100%; transition: width 0.5s; z-index: 2;}
.boxes {text-align: center; color: #ffffff;}
.credits {padding-top: 20pt; padding-right: 75pt;}
.desc {display: inline-block; opacity: 0; transition: opacity 0.5s linear;}

.digest table {border-bottom: 1px solid #dbdbdb; margin: 0 auto; width: 80%; }
.digest td {border-bottom: 1px solid #8e8e8e; padding: 5px; width: 40%;}
.digest td a{color: #e8e8e8;}
.digest td a:hover{color: white;}

.err {color: red; font-weight: bold; border: 1pt solid red;}
.exporter :not(button) {display: none;}
.exporter span {padding: 5pt 10pt 5pt 5pt;}
.left {float: left;}
.logo {position: absolute; right: 0; bottom: 0; margin: auto 0 auto 0; padding: 30pt 0 0 0;}
.logo img {width: 75pt;}
.r {float: right;}
.right {text-align: right;}
.tmin {color: blue;}
.tmax {color: red;}

#catFilter {float: right; border: 0.3em solid rgb(0, 142, 214); width: 20%}
/*#catFilter:hover {visibility: visible;}*/

#content {margin-top: 0px; padding-bottom: 30px; max-width: 100%; color: #555555;}

#charts {margin: 0 auto; height: 200px; width: 100%; text-align: center;}
#forecast {height: 100%; width: 100%; text-align: center; margin: 0 auto;}
#forecast img {width: 100%;}
#forecast table {margin: 0 auto;}
#forecast td {padding: 1em;}

#mapid {margin-top: 0px; margin-bottom: 20px;  height: 470px; width: 100%; z-index: 1;  }
.subtitle {font-size: 40px; text-shadow: 2px 2px 5px #808080; margin-bottom: 20px; }
.sdi4apps-logo{ width: 150px; margin-top: 16px; padding-bottom: 10px;}
.title-area{max-width: 1000px; margin: 0 auto;  margin-top: 150px; border-radius: 15px !important;}

#background{ width: 100%;  background: url(images/foto.jpg) no-repeat; background-size: cover; height: auto;}
.btn{margin-top: 10px !important;}
.table-results{width: 60%; margin: 0 auto;}
.table-results td{padding: 5px; text-transform: capitalize; border-bottom: 1px solid #d1d1d1; width: 60%;}
.results-heading{padding-bottom: 10px; text-transform: capitalize; border-bottom: 1px solid #606060; width: 60%;}
.weather-info{font-size: 10px; margin-bottom: 0px; text-align: center;}

.search-table{color: white; border: 0px !important;border-radius: 25px;}
.search-table a{color: #009EE0;}
.search-table a:hover{color: #eff2f5; text-decoration: none;}

#scroll-to{border: 0px; margin-top: 20px; width: 100%; height: 100px;}
.header-rows{text-align: center; }
.form-control{margin-bottom: 5px !important; margin-top: 2px !important;}
.to-top{ text-align: center; font-size: 20px; margin-top: 20px;}
.popup-title{ text-align: center; font-weight: bold; margin-bottom: 5px; text-transform: capitalize;}
.popup-info{ text-align: center; margin-bottom: 5px; text-transform: capitalize;}
.popup-info img {width: 130pt;}
.popup-link{ text-align: center; margin-bottom: 5px; margin-top: 5px;}
#info-block h2{text-shadow: 1px 2px 3px #808080;}
.italic{font-style: italic;}
